@mixin fontstyles($fs, $lh, $ls, $fw) {
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
  font-weight: $fw;
}

//   .footer-social-title {
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.03em;

//   .form-btn-send {

//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.87;
//   letter-spacing: 0.06em;

//   .modal-title {

//   font-size: 20px;
//   text-align: center;
//   color: var(--title-color);
// }

// .modal-form-text {

//   font-size: 12px;
//   line-height: 1.17;
//   letter-spacing: 0.01em;

//   .modal-form-textarea::placeholder {
//   font-size: 12px;
//   line-height: 1.17;
//   letter-spacing: 0.01em;

//   .policy-checkbox {

//   font-size: 14px;
//   line-height: 1.71;
//   letter-spacing: 0.03em;

//   .btn-modal-form {

//   font-weight: 700;
//   line-height: 1.87;
//   letter-spacing: 0.06em;
