/* .feature {
} */

.feature-list {
  display: flex;
}

.feature-list__item {
  width: 270px;

  & + & {
    margin-left: 30px;
  }
}

.icon-box {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  background-color: var(--ex-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature-list__title {
  @include fontstyles(14px, 1.14, 0.03em);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.feature-list__text {
  @include fontstyles(14px, 1.71, 0.03em);
}
